@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.grid-stations {
    display: grid;
    grid-template-columns:
        minmax(20px, 50px)
        auto
        auto
        minmax(75px, auto)
        minmax(20px, 50px);
    font-size: 1.05rem;
    line-height: 1.75rem;
}
.grid-stations > div {
    @apply border-b;
}
.card {
    padding: 1.25rem;
    background: #fff;
    border-width: 1px;
}
.tool-card {
    background: #fff;
    border-width: 1px;
    @apply flex justify-end p-3 my-2 ml-auto text-gray-600 rounded-sm shadow max-w-min;
}
.pagination-links span[aria-current="page"] span {
    @apply bg-sky-50 text-sky-500;
}
/* a {
    @apply inline-block my-2 text-sky-600;
}
a.link::before {
    content: "";
    @apply w-5 pr-2 mr-2 transition-all bg-blue-300 h-11;
}
a.link::before:hover {
    @apply pr-6 bg-orange-600;
}
table.mf-table {
    @apply text-sm border border-separate table-auto border-slate-400 border-spacing-1;
}
table.mf-table th,
table.mf-table td {
    @apply p-2 border border-slate-400;
} */
